body{
  margin:0;
}

.header-title{
  background-color: aqua;
  height:120px;
  text-align: center;
  padding-top:50px;
}
.header-title h1{
  margin:0;
}
.header-title p{
  margin:0;
}

.header-menus{
  background-color: beige;
  height:60px;
  line-height: 50px;
}

.header-menus ul{
  list-style: none;
  display: flex;
  margin:0;
  padding:0;
}

.header-menus li{
  margin:5px 10px;
}
.header-menus a{
  text-decoration: none;
  color:black;
}

.header-menus a:hover{
  opacity: 0.2;
}

.game{
  display:flex;
}

.sentence{
  margin:20px 0 0 20px;
  width:60%;
  border:4px double blue;
}

.sentence h1{
  text-align: center;
  border:1px solid black;
  border-radius:5px;
  width:70%;
  height:80px;
  line-height:80px;
  margin:20px auto 0;
  background: lightgray;

}

.sentence h1:hover{
  opacity: 0.2;
}

.sentence p{
  text-align: center;
}

.game img{
  width:40%;
  margin-top:20px;
}

.games > h1{
  text-align: center;
}

.games .game-info{
  margin:0 100px;
}

.games section{
  padding-bottom:60px;
  padding-top:10px;
  border-top:1px solid black;
}

.games section a{
  color:green;
  font-size: 20px;
}

footer{
  background-color: black;
  color:white;

}
footer ul{
  list-style: none;
  display: flex;
}

footer li{
  margin:5px 10px;
}
footer a{
  text-decoration: none;
  color:white;
}
.message{
  text-align: center;
}
.message h2{
  margin: 0;
}